DATABASE_URL=your_database_url
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password

REDIS_URL=your_redis_url

JWT_SECRET=gere-um-segredo-aleatorio-com-pelo-menos-32-caracteres
JWT_EXPIRATION=900000

FRIGUS_AI_BASE_URL=frigus_ai_prod_url_here

AWS_REGION=us-east-1
AWS_S3_ENABLED=false
AWS_S3_BUCKET=
