DATABASE_URL=your_database_url
DATABASE_USERNAME=your_database_username
DATABASE_PASSWORD=your_database_password

REDIS_URL=your_redis_url

JWT_SECRET=never_gonna_give_you_up
JWT_EXPIRATION=0

FRIGUS_AI_BASE_URL=frigus_ai_prod_url_here